.section-class {
  background: moccasin;
  padding: 20px;
  width: 400px;
  line-height: 1.7em;
}

li {
  display: inline-block;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eaf0f6;
}
li {
  float: left;
}

li a {
  display: block;
  color: #33475b;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}
h1 {
  color: #33475b;
}
